.title { 
	font-size: 80pt;
	display: flex;
	justify-content: center;
	align-items: center;
} 

.description { 
	padding: 10px;
	font-size: 30pt;
}

.container {
	height: auto;
	width: 1000px; 
	background: rgb(182, 137, 162, 0.5);
	border-radius: 10px;
	justify-content: center;
	margin-Top:100px;
	font-size: 30pt;

}

.cat { 
	width: 200px;
	padding: 20px;
	border: 20px rgb(203, 115, 227) solid;
	border-radius: 15pt;
	
}

.containerFixed {
	height: auto;
	width: auto; 
	background: rgb(31, 23, 116);
	border-radius: 10px;
	position: fixed;
	z-index:2;
	font-size: 20pt;
}